.btn-pwd{
    height: 27px !important;
    min-width: 27px !important;
    width: 27px !important;
    font-size: 15px !important;
}

.fa{
	font-size: 16px !important;
}

.not-active {
   pointer-events: none;
   cursor: default;
   color: rgba(0, 0, 0, 0.26) !important; 
}

.titulo{
	margin-bottom: 50px !important;
	font-size: 1.4em !important;
	text-align: center;
	
}

.nostyle{
	text-align: left !important;
	padding-top: 2% !important;
}
.marginrow{
	margin-bottom: 25px !important;
}
.imgresponsive{
	max-height: 100px !important;
}
.doubt{
	text-align: center !important;
}

.progress{
	height: 50px !important; 
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #c8c8c8;
}
.procomp{
	height: 5px !important; 
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #c8c8c8;
}
.progressbarmonth{
	text-align: center; 
	margin-top: 11px
}